#backgroundCard{
    background-image: url("../images/border1.png");
    background-size: cover;
    height: 400px;
}
 
#backgroundCard2{
    background-image: url("../images/border2.png");
    background-size: cover;
    height: 400px;
}

#titreExemple {
    background-color: white;

}

#titleHome {
    font-size: 45px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;

}

#sousTexte {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: black;

}

#gradientJquery {
    background: linear-gradient(90deg, hsla(22, 83%, 79%, 1) 31%, hsla(301, 53%, 71%, 1) 66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/*Style Erhan */
#btnNext,
#btnSlideDown,
#btnSlideUp,
#btnSlideToggle,
#btnParent,
#btnHtml,
#btnFadeIn,
#btnFadeOut,
#btnFadeToggle,
#btnFadeTo {
    border: none;
    outline: none;
    background-color: #fad38b;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #f9c793;
}

#btnChangeTexte:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

/* Style Erhan */
#resetNext,
#resetSlideDown,
#resetSlideUp,
#resetParent,
#resetHtml,
#resetFadeIn,
#resetFadeOut,
#resetFadeTo {
    border: none;
    outline: none;
    background-color: #fab9dc;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #eb63e0;
}

#reset1:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}


/* Menu Start */
 .siblings * { 
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 35px;
  }
  #panel, #panel2, #panel3 {
  padding: 5px;
  margin: 35px;
  text-align: center;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border: solid 1px #c3c3c3;
}
